
http://www.lexicon.website, https://www.lexicon.website {
	redir https://lexicon.website{uri} permanent
}

http://lexicon.website {
	redir https://lexicon.website{uri} permanent
}

https://lexicon.website {
  encode zstd gzip
  reverse_proxy app:3000
}
